@charset "UTF-8";

.body { /* Estilo do corpo */
  font-family: Arial, sans-serif;
  background-color: #ffffff; 
}
.h1 { /* Estilo do título h1 */
  text-align: center;
  color: #34495e; 
}

.h2{ /* Estilo do subtítulo */
  color: #34495e;
  text-align: center;
}

.section{ /* Estilo da seção */
  background-color: #f0f0f0; 
  padding: 10px; 
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.801); 
  max-width: 800px;
  margin: 20px auto; 
  width: auto; 
  height: auto; 
  text-align: center;         
}

.header { /* Estilo da seção da página inicial */
  background-color: #f0f0f0; 
  padding: 20px; 
  border-radius: 10px; 
  max-width: 800px; 
  margin: 20px auto; 
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.801); 
  text-align: center; 
  justify-items: center;   
}

ul { /* Estilo da lista */
  line-height: 1.6; 
  font-size: 1.1em; 
  color: #4e4e4ef8;
  max-width: 800px; 
  list-style-type: square; 
  margin: 20px auto; 
  text-align: left;
}

.botao { /* Estilo do container dos botões */
  display: flex; 
  flex-direction: row;
}

.botao a { /* Estilo do link dentro do botão */
  text-decoration: none; 
  color: inherit; 
  color: #f0f0f0;        
}

.btn { /* Estilo do link dentro do botão */   
  display: inline-block; 
  font-weight: bold;
  padding: 10px 20px; 
  background-image: linear-gradient(to bottom, #6E92A1,#2E72F5); 
  border-radius: 50px; 
  border: none; 
  cursor: pointer; 
  transition:all 0.6s; 
  margin: 6px; 
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */      
}

.btn:hover{
  transform: scale(1.1);
}

.img{
  align-items: start;
  height: auto;
  max-width: 200px;
}

.cont{/*estilo da section*/
  display: flex; 
  align-items: center; 
  gap: 20px; 
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.801); 
  padding: 50px; 
  border-radius: 10px; 
  width: 740px;
  background-color: #f0f0f0; 
  margin: auto;
}


/* Estilos específicos para o formulário de contato */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #34495e;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
  font-size: 1em;
}

.form-group textarea {
  resize: vertical; /* Permite redimensionar verticalmente */
  min-height: 100px;
}

.form-group button {
  background-color: #2E72F5; /* Cor do botão de enviar */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #6E92A1;
}
.contato{
text-align: center;
}
